[project]
name = "vts"
authors = [{ name = "Rikus Honey", email = "rikushoney2@gmail.com" }]
requires-python = ">=3.10"

[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[tool.maturin]
features = ["pyo3/extension-module"]
manifest-path = "crates/vts_api/Cargo.toml"
python-source = "python"
module-name = "vts._vts_api_rs"

[tool.ruff.lint]
select = ["F", "E", "W", "N", "I"]

[tool.ruff.lint.isort]
combine-as-imports = true
